<a href="https://colab.research.google.com/github/asyhasnaa/Ghibloo-App/blob/master/05_Struktur-Data/05_try_struktur_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. menggabungkan dua list menjadi satu list baru lalu tampilkan

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

list1.extend(list2)



print(list1)

[1, 2, 3, 4, 3, 4, 5, 6]

Expected Output :

[1, 2, 3, 4, 3, 4, 5, 6]

2. menggabungkan dua list menjadi satu list baru tanpa duplikat lalu tampilkan

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

result = list(set(list1 + list2))


print(result)

[1, 2, 3, 4, 5, 6]

Expected Output :

[1, 2, 3, 4, 5, 6]

3. Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [ ]:
a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
# slicing list
result = a[1:5]

print(result)

['13b', 'aa1', 1.32, 22.1]

Expected Output :

[ '13b', 'aa1', 1.32, 22.1 ]

4. Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [ ]:
a = [
    [5, 9, 8],
    [0, 0, 6]
    ]
# subsetting list
result = a[1][1:3]


print(result)

[0, 6]

Expected Output :


[0, 6]

5. Gunakan cara sclicing untuk mengakses tuple sehingga mendapatkan hasil sesuai expected output

In [ ]:
tuple_1 = (1, 2, 6, 7, 8, 9, 10)

#akses tuple
result = tuple_1[2:5]

print(result)

(6, 7, 8)

Expected Outpout:


(6, 7, 8)

6. Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [ ]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# tambahkan key itali ke objek dictionary dengan value roma
europe['itali'] = 'roma'
print(europe)

# cek apakah itali ada di dalam objek dictionary
print('itali' in europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'itali': 'roma'}
True

Expected Output:
    
True

7. menggabungkan dua dictionary menjadi satu. Tampilkan hasilnya

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}

dict1.update(dict2)

print(dict1)

{'a': 1, 'b': 3, 'c': 4}

Expected Output:
    
{"a": 1, "b": 5, "c": 4}